<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/static/public_officials/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public_officials/stylesheets/main.css" rel="stylesheet">
    <title>Will Legislate For Money</title>
  </head>
  <body>
    {% load format_legislator_json %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'bills_index' %}">Recent Bills</a></li>
            <li><a href="{% url 'senator_index' %}">Senators</a></li>
            <li><a href="{% url 'representative_index' %}">Representatives</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row-well">
        <div class="col-md-4 col-md-offset-4" id="representatives">
          <h1>All Representatives</h1>
          {% for state in states %}
          <h3>{{ state }}</h3>
            <div id="{{ state }}-reps">
              <ul class="list-group">
                {% for rep in representatives_by_state|get_value:state %}
                <li class="list-group-item">
                  <h4><a href="{% url 'public_officials:detail' rep.id %}" id="{{ forloop.counter }}">{{ rep.first_name }} {{ rep.last_name }}</a></h4>
                </li>
                {% endfor %}
              </ul>
            </div>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
