/*COLOR PALETTE
DARK BROWN #363636;
NAVY #242F40;
MUSTARD #CCA43B;
LIGHT GREY #E5E5E5;
LIGHT GREY-GREEN #DEE737;
WHITE #FFFFFF;*/

/*ALTERNATIVE COLOR PALETTE
DARK SLATE BLUE #3D348B
MEDIUM SLATE BLUE #7678ED
SELECTIVE YELLOW #F7B801
EGGSHELL #EEEBD3
TANGERINE #F18701
PERSIMMON #F35B04*/


body {
  background-color: #e6f2ff;
}

h1, h2, h3 {
  color: #4d4d4d;
}

h4 a {
  color: #1a5e63;
}

h4 a:hover {
  color: #F35B04;
}

.email {
  color: #1a5e63;
}

.email a:hover {
  color: #3D348B;
}

table {
  background-color: white;
}

.big-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selections {
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: inline-block;
}

h5 a {
  color: #1a5e63;
}

h5 a:hover {
  color: #F35B04;
}

a {
  color: #1a5e63;
}

a:hover {
  color: #F35B04;
}

#tabs .link {
  color: #1a5e63;
}

#tabs .link:hover {
  color: #F35B04;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #263248;
  background: #263248;
}

.legislator h1 {
  display: inline;
}

button.follow {
  background-color: #F18701;
  margin: 5px;
  font-weight: bold;
  line-height: 1;
}

.btn.unfollow-button {
  font-size: 12pt;
  color: black;
  background-color: #D9534F;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn.display-tweets {
  font-size: 12pt;
  color: black;
  background-color: #1DCAFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

.twitter-timeline {
  margin-left: 55px;
}
