<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/static/public_officials/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Will Legislate For Money</title>
  </head>
  <body>
    {% load format_legislator_json %}
    <div class="container-fluid">
      <div class="row-well profile">
        <div class="col-md-6">
          <h1>{{ legislator_profile|get_value:'cand_name' }}</h1>
          {% if legislator_profile|get_value:'chamber' == 'H' %}
            <h5>{{ legislator_profile|get_value:'state' }} Representative</h5>
          {% else %}
            <h5>{{ legislator_profile|get_value:'state' }} Congressperson</h5>
          {% endif %}
          <p>First Elected: {{ legislator_profile|get_value:'first_elected' }}</p>
          <p>Next Election: {{ legislator_profile|get_value:'next_election' }}</p>
          <p>Party: {{ legislator_profile|get_value:'party' }}</p>
          <p>State: {{ legislator_profile|get_value:'state' }}</p>
          <p>Last Updated: {{ legislator_profile|get_value:'last_updated'}}</p>
        </div>
      </div>
    </div>

    <div class="contianer-fluid">
      <div class="row-well">
        <div class="col-md-6 organization-contributors">
          <div class="text-center">
            <h3>Contributions by Organization (Cycle: {{ organizations|get_value:'cycle' }})</h3>
          </div>
          <table class="table table-bordered table-striped">
            <thead>
              <th>Organization</th>
              <th>Total</th>
              <th>Individual Donations</th>
              <th>PACs</th>
            </thead>
            <tbody>
              {% for organization in organizations %}
              <tr class="organization">
                <td><h6>{{ organization|get_nested_value:'org_name' }}</h6></td>
                <td><p>${{ organization|get_nested_value:'total' }}</p></td>
                <td><p>${{ organization|get_nested_value:'indivs'}}</p></td>
                <td><p>${{ organization|get_nested_value:'pacs' }}</p></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-md-6 industry-contributors">
          <div class="text-center">
            <h3>Contributions by Industry (Cycle: {{ industries|get_value:'cycle' }}) Last Updated: {{ industries|get_value:'last_updated' }}</h3>
          </div>
          <table class="table table-bordered table-striped">
            <thead>
              <th>Industry</th>
              <th>Total</th>
              <th>Individual Donations</th>
              <th>PACs</th>
            </thead>
            <tbody>
              {% for industry in industries %}
              <tr>
                <td><h6>{{ industry|get_nested_value:'industry_name'}}</h6></td>
                <td><p>${{ industry|get_nested_value:'total' }}</p></td>
                <td><p>${{ industry|get_nested_value:'indivs'}}</p></td>
                <td><p>${{ industry|get_nested_value:'pacs' }}</p></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </body>
</html>
