<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/static/public_officials/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public_officials/stylesheets/main.css" rel="stylesheet">
    <title>Will Legislate For Money</title>
  </head>
  <body>
    {% load format_legislator_json %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10" id="senators">
          <h1>All Senators</h1>
          {% for state in states %}
          <h5>{{ state }}</h5>
            <div id="{{ state }}-senators">
              {% for senator in senators_by_state|get_value:state %}
              <ul>
                <p>
                  <a href="{% url 'public_officials:detail' senator.id %}" id="{{ forloop.counter }}">{{ senator.first_name }} {{ senator.last_name }}</a>
                </p>
              </ul>
            </div>
            {% endfor %}
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
