<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/static/public_officials/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/public_officials/stylesheets/main.css" rel="stylesheet">
    <title>Will Legislate For Money</title>
  </head>
  <body>
    <h1>All Senators</h1>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10" id="senators">
          {% for senator in senators %}
          <ul>
            <p>
              <a href="{% url 'public_officials:detail' senator.id %}" id="{{ forloop.counter }}">{{ senator.first_name }} {{ senator.last_name }}</a>
            </p>
          </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
